.container {
    width: 1480px;
    height: 1282px;
    background-color: white;
    margin-left: 200px;
}

.Ramda {
    font-family: 'Myriad Pro';
    color: #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 61px;
}

.Ra {
    font-family: 'Myriad Pro';
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}

.Ramda {
    font-family: 'Myriad Pro';
    color: #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 61px;
}

.Ra {
    font-family: 'Myriad Pro';
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}
.functional li {
    display: inline-block; 
}
.functional a {
    display: block;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    padding: 20px;
}
.functional {
    background-color: #35444f;
    height: 69px;
    width: 1240px;
    text-align: center;
    margin-left: 100px;
  
}
.functional a:hover {
background-color: #222f3a;
}


.goat {
    width: 885px;
    height: 529px;
    margin-right: 99px;
    margin-left: 45px;
    margin-top: 51px;
    background-repeat: repeat;
    border: 1px solid black;
}

.goat:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.paragraph {
    font-family: 'Myriad Pro';
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    margin-left: 526px;
    margin-right: 134px;
    margin-top: 50px;
    display: inline-block
}

.goat, .Left_Block {
    float: left;
}
.menu {
    margin: 0;
    padding: 0;
}

.Left_Block li:hover {
   background-color: lightgray;
}
.Left_Block {
    
    width: 344px;
    height: 399px;
    display: inline-block;
    vertical-align: top;
    margin: 47px 0px 0px 100px;
    padding: 0;
    }
.Left_Block > li{
    height: 80px;
    width: 342px;
    text-decoration: none;
    display: block;
    font-family: 'Myriad Pro';
    color: #2c2b2b;
    font-size: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: 20px; 
 }
.Left_Block  a{
    line-height: 80px;
    padding-top: 40px;
    text-decoration-line: none;
    color: black;
    margin-left: 30px;
   }

.footer {
    width: 1280px;
    height: 69px;
    margin-top: 51px;
    background-color: gainsboro;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.footer li {
    font-size: 28px;
    color: #0c1927;
    margin-top: 10px;
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
}

.footer-menu-item:hover {
    text-decoration: underline;
    color: #3181a6;
}
.footer-li:hover {
    text-decoration: underline;
    color: #3181a6;
}

li:nth-child(6n) {
   padding-left: 218px;
}



