* {
    margin: 0;

}
.body {

    margin: 0 auto;
    background: url(../image/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main_content {
    width: 1366px;
    height: 768px;
    position: absolute;

}

.logo_img {
    background-image: url(../image/logo.png);
    height: 44px;
    width: 46px;
    display: inline-block;
    z-index: 1;
    float: left;
}
.logo_img:hover{
    background-image: url(../image/logo2.png);
    height: 44px;
    width: 46px;
    display: inline-block;
    position: relative;
    z-index: 2;
    float: left;
}

.milan_hov1 {
    display: inline-block;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin-left: 10px;
}
.milan_hov1:hover {
    color: #f26522;
}

.milan_hov2 {
    display: inline-block;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    margin-left: 10px;
    margin-top: 3px;
}
.milan_hov2:hover {
    color: #f26522;
}
.logo_content {
    display: inline-block;
    margin-top: 45px;
    margin-left: 155px;
}

.contact {
    display: inline-block;
    font-family: sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: right;
    margin-right: 146px;
    margin-top: 50px;
}
.number {
    display: inline-block;
    font-family: sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    float: right;
    margin-right: -223px;
    margin-top: 80px;
}

.card {
height: 209px;
    width: 311px;
    float: left;
    position: relative;
    text-align: center;
    margin-left: 69px;
    margin-bottom: 98px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    box-sizing: border-box;
    background-image: linear-gradient(white, black);
    box-shadow: 0 17px 24px 0 #000000;

}
.card_1{
    margin-top: 45px;
    margin-left: 157px;

}


.name_1:hover{
    color: #f26522;
}

.card_2 {
    margin-top: 45px;
    margin-left: 69px;
}
.name_2:hover{
    color: #f26522;
}
.card_3 {
    margin-top: 40px;
    margin-left: 69px;
}
.name_3:hover{
    color: #f26522;
}
.card_4 {
    margin-top: 98px;
    margin-left: 157px;
}
.name_4:hover{
    color: #f26522;
}
.card_5 {
    margin-top: 98px;
    margin-left: 69px;
}
.name_5:hover{
    color: #f26522;
}
.card_6 {
    margin-top: 98px;
    margin-left: 69px;
}
.name_6:hover{
    color: #f26522;

}

.name_1 {
    display: inline-block;
    font-family:sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    margin-top: 22px;

}
.name_2{
    display: inline-block;
    font-family: sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    margin-top: 20px;

}
.name_3{
    display: inline-block;
    font-family: sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    margin-top: 22px;

}
.name_4{
    display: inline-block;
    font-family: sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    margin-top: 22px;

}
.name_5{
    display: inline-block;
    font-family: sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    margin-top: 21px;

}
.name_6{
    display: inline-block;
    font-family: sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    margin-top: 20px;

}
.footer {
    width: 349px;
    display: inline-block;
    font-family:sans-serif;
    font-size: 10pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-decoration: none;
    margin-left: 512px;
    margin-top: 93px;
}
.details {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f26522;
    display: none;

}
.from_p {
    margin: 0 auto;
}

.details_from {
    float: left;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 10px 0 10px 20px;
}
.details_view::after {
    content: ">";
}

.details_view {
    float: right;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin: 14px 10px 10px 0;
    padding-top: 15px;

}
.container_img {
    position: relative;
    text-align: center;
    float: left;
    margin-left: 69px;
    margin-bottom: 98px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    box-sizing: border-box;
    background-image: linear-gradient(white, black);
    box-shadow: 0 17px 24px 0 #000000;
    width: 307px;
    height: 200px;
}
.card:hover .details {
    display: block;
}



